<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments :: head(~{::title}, ~{::link})">
  <title>Error-快答社区</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/error.css}"/>
</head>
<body>
<div class="box">
  <div class="box__ghost">
    <div class="symbol"></div>
    <div class="symbol"></div>
    <div class="symbol"></div>
    <div class="symbol"></div>
    <div class="symbol"></div>
    <div class="symbol"></div>

    <div class="box__ghost-container">
      <div class="box__ghost-eyes">
        <div class="box__eye-left"></div>
        <div class="box__eye-right"></div>
      </div>
      <div class="box__ghost-bottom">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
    <div class="box__ghost-shadow"></div>
  </div>
  <div class="box__description">
    <div class="box__description-container">
      <div class="box__description-title">404错误！</div>
      <div class="box__description-text">此页面去外太空旅游了！</div>
    </div>
    <a th:href="@{/}" class="box__button">返回</a>
  </div>
</div>
</body>
</html>